    body {
        background-color : rgb(24, 24, 187)
}

    p {
        font-family: Arial;
        font-size: 15px;
        color: white;
    }

    div{
        background: white;
        width: 800px;
        border: 1px solid black;
        color: black;
    }

    table {
        border-collapse: collapse;
        background: white;
        width: 50%;
    }